<header class="header">
  <a class="logo" routerLink="/" routerLinkActive="router-link-active">
    {{ "Azkry" | translate }}</a
  >
  <div class="flex justify-center items-center">
    <div class="language-toggle pr-11">
      <button
        class="btn btn-sm backdrop-blur-lg bg-white/30 text-white border-none rounded-lg p-2"
        (click)="toggleLanguage()"
      >
        {{ currentLanguage === "en" ? "عربى" : "EN" }}
      </button>
    </div>

    <input type="checkbox" id="check" class="hidden" />
    <label for="check" class="icons">
      <i class="fa-solid fa-bars" id="menu-icon"></i>
      <i class="fa-solid fa-xmark" id="close-icon"></i>
    </label>

    <nav class="navbar">
      <a routerLink="/praytime" routerLinkActive="active-link">{{
        "pray times" | translate
      }}</a>
      <a routerLink="/azkar" routerLinkActive="active-link">{{
        "azkar" | translate
      }}</a>
    </nav>
  </div>
</header>
<div class="bg-gradient-to-r from-indigo-200 via-red-200 to-yellow-100">
  <div class="h-20"></div>

  <!-- <button (click)="translateText('ar')">ar</button>
  <button (click)="translateText('en')">en</button> -->
  <router-outlet></router-outlet>
</div>
